.AppLayoutContainer{
    display: flex;
}
/*  */
.mainContent {
    margin-left: 20vw;  /* Add a left margin equal to the sidebar width */
    padding: 20px;
}

/* Responsive adjustments
@media (max-width: 840px) {
    .sidebarContainer {
        width: 30vw;
    }
    .mainContent {  
        margin-left: 30vw;
    }
}

@media (max-width: 480px) {
    .sidebarContainer {
        width: 60vw;
    }
    .mainContent {
        margin-left: 60vw;
    }
} */